<% if (post.categories && post.categories.length){ %>
  <ol>
    <% post.categories.filter(function(cat) { return cat.length;}).forEach(function(cat, i) { %>
    <li><a href="<%- url_for(cat.path) %>"><%= cat.name %></a></li>
    <% }); %>
  </ol>
<% } %>