<div id="archive-content"><%- partial('_partial/archive', {pagination: config.category, index: true, summary: false}) %></div>
<%- partial('_partial/page-nav', {pagination: config.category, index: true}) %>