// Config
$font-content: "Noto Mono", "DejaVu Sans", "Noto Sans CJK SC", "YaHei Consolas Hybrid", "Source Code Pro", "Microsoft YaHei", Consolas, source-sans-pro, monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-code: "Noto Mono", "DejaVu Sans Mono", "Noto Sans Mono CJK SC", "YaHei Consolas Hybrid", "Source Code Pro", "Microsoft YaHei", Consolas, source-sans-pro, monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-title: "Noto Mono", "DejaVu Sans", "Noto Sans CJK SC", "YaHei Consolas Hybrid", "Source Code Pro", "Microsoft YaHei", Consolas, source-sans-pro, monospace, "Helvetica Neue", Helvetica, Arial, sans-serif;

$title-color: #FFFFFF;
$title-shadow: #000 1px 1px 3px;
$description-color: #CCC;

$article-background: rgb(241,241,241);
$article-inner-border: 0.2em solid rgb(212,212,212);
$article-footer-border: 0.05em solid #666;