#archive-content, #index-content {
    @include column-count(auto);
    @include column-width(26rem);
    @include column-gap(1rem);
}

.archive-article {
    display: inline-block;
    @include break-inside(avoid);

    .archive-article-inner {
        overflow: hidden;

        .archive-article-title {
            word-wrap: break-word;
        }
    }
}