#archive-content, #index-content {
    @include column-count(auto);
    @include column-width(26em);
    @include column-gap(1em);
}

.archive-article {
    @include transition(all 0.5s ease-in-out);
    background-color: $article-background;
    @include border-radius(0.25em);
    padding: 0.05em;
    width: 100%;
    margin: 0.6em 0 0.6em 0;
    display: inline-block;
    @include break-inside(avoid);

    .archive-article-inner {
        border: $article-inner-border;
        background-color: $article-background;
        @include border-radius(0.25em);
        margin: 0.2em 0.15em 0.15em 0.15em;
        padding: 0.8em;
        overflow: hidden;

        .archive-article-header{
            a {
                color: rgb(51, 51, 51);
            }

            a:hover {
                text-decoration: none;
            }
        }
        .archive-article-excerpt{
            color: rgb(123, 125, 131);
        }
        .archive-article-more{
            a {
                color: rgb(0,100,0);
                font-weight: bolder;
            }
            a:hover {
                text-decoration: none;
            }
        }
        .archive-article-footer{
            background: #ccc;
            border: $article-footer-border;
            @include border-radius(0.2em);
            @include box-shadow(inset 0.05em 0.05em 0.25em rgb(72,72,72));
            font-size: 0.8em;
            font-weight: bold;
            margin-bottom: 0.25em;
            overflow: hidden;
            padding: 0.15em 0.4em;
            text-shadow: 0 0 0.05em #000;
            text-align: right;

            a {
                color: #000;
            }

            a:hover {
                text-decoration: none;
            }
        }
    }
}