html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-content;
}

pre, code {
    font-family: $font-code;
}

h1, h2, h3, h4, h5, h6{
    font-family: $font-title;
}

#container:before {
  display: none;
}

#main {
  padding: 2em;
  margin: 0 auto;
}

#main-content {
  background-blend-mode: normal;
}

#main {
    $background-c1: rgb(160,160,160);
    $background-c2: rgb(176,176,176);
    $background-c3: rgb(144,144,144);
    $background-c4: rgb(128,128,128);
    $background-c5: rgb(192,192,192);
    background: -webkit-repeating-radial-gradient(circle, transparent, transparent 3em, $background-c1 1em, transparent 6em, $background-c2 6.5em), -webkit-repeating-radial-gradient(ellipse farthest-corner, transparent 1em, $background-c3 1em, transparent 5em, $background-c3 2em), -webkit-repeating-radial-gradient(circle, transparent, transparent 3em, $background-c4 1em, transparent 2em, $background-c4 4em), -webkit-repeating-radial-gradient(circle, transparent 3em, $background-c4 1em, transparent 2em, $background-c4 4em), $background-c5;
    background: repeating-radial-gradient(circle, transparent, transparent 3em, $background-c1 1em, transparent 6em, $background-c2 6.5em), repeating-radial-gradient(ellipse farthest-corner, transparent 1em, $background-c3 1em, transparent 5em, $background-c3 2em), repeating-radial-gradient(circle, transparent, transparent 3em, $background-c4 1em, transparent 2em, $background-c4 4em), repeating-radial-gradient(circle, transparent 3em, $background-c4 1em, transparent 2em, $background-c4 4em), $background-c5;
    background-blend-mode: multiply;
    background-size: 10em 10em;
    background-position: 0 0, 5em 5em, 15em 50em;
}

blockquote {
    margin: 0 0 2rem;
    background-color: rgb(200,200,200);
    padding: 0.5em;
}